<%- include("partials/header") -%>
    <%- include("partials/navbar_sidebar",{homestate:"",articleState:"",donateState:"",aboutState:"",user:user,renderLogout:renderLogout}) -%>
    <section class="error-section">
        <div class="error-content">
            <h1 class="heading404">404</h1>
            <h2 class="content404">Oops!!! Looks like you ended up on wrong page</h2>
        </div>
    </section>
<%- include("partials/footer") %>
     