<%- include("partials/header") -%>
    <%- include("partials/navbar_sidebar") -%>
    <section class="give-class-name-according-to-whats-inside">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Jo Bhi bakchodi ho yaha ki jaye but dont use offensive language as this file is linked to github</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
<%- include("partials/footer") -%>