<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 style="text-decoration:underline;">USER DETAILS</h1>
    <div style=" display: flex;">
        <h3 style="color: rgba(0, 0, 0, 0.863);font-weight: 800;">Name : </h3>
        <h3 style="color: rgb(3, 105, 71);"><%= username %></h3>
    </div>
    <div style=" display: flex;">
        <h3 style="color: rgba(0, 0, 0, 0.863);font-weight: 800;">Email Id : </h3>
        <h3 style="color: rgb(3, 105, 71);"><%= emailId %></h3>
    </div>
    
    <h3 style="color: rgba(0, 0, 0, 0.863);font-weight: 800;">Query</h3>
    <h><%= query %></h>
</body>
</html>